<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<link href="css/style.css" rel="stylesheet" />
		
		<title>Ingresar un nuevo estudiante</title>
	</head>
	<body>
		
		<nav class="navbar navbar-dark bg-dark">
		  <span class="navbar-text">
		   Registro de contribuyentes.
		  </span>
		</nav>
		
		<div class = "container-fluid" id="formulario">
		
			<h3>Ingrese los datos para un nuevo contribuyente</h3>
		
			<form th:action="@{/guardar}" th:object="${contribuyente}" method="post">
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <input type="text" class="form-control" placeholder="Nombre"  th:field="*{Nombre}">
			      <span th:errors="*{Nombre}" style="color:#FF0000"></span>
			    </div>
			    <div class="form-group col-md-6">
			      <input type="text" class="form-control" placeholder="Apellido"  th:field="*{Apellido}">
			      <span th:errors="*{Apellido}" style="color:#FF0000"></span>
			    </div>
			  </div>
			   <div class="form-row">
			    <div class="form-group col-md-6">
			      <input type="text" class="form-control" placeholder="NIT" th:field="*{Nit}">
			      <span th:errors="*{Nit}" style="color:#FF0000"></span>
			    </div>
			    <div class="form-group col-md-6">
		    		<select class="form-control" th:field="*{c_importancia.c_importancia}">
					  <option th:each="impo:${importancia}" th:value="${impo.c_importancia}" th:text="${impo.importancia}"></option>
					</select>
			    </div>
			  </div>
		  	 <button type="submit" class="btn btn-info">Guardar</button>
			</form>
			
			<form th:action="@{/listado}">
				<button type="submit" class="btn btn-danger">Ver listado de Contribuyentes</button>
			</form>
			
		</div>
	</body>
</html>